@charset "UTF-8";

/* Define the custom font */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@font-face {
    font-family: 'Jua';
    src: url('path-to-your-font/Jua-Regular.woff2') format('woff2'),
         url('path-to-your-font/Jua-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #4A0404;
    background: #E3D9C7 ; /* Background color */
    height: 70px; /* Height of the area */
    line-height: 70px; /* Line height: text height */
    color: #988167; /* Text color (RGB) */
    font-size: 28px; /* Text size */
    text-align: center; /* Text alignment */
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

nav{
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: 8B0000;
    background: #988167; /* Background color */
    height: 30px; /* Height of the area: navigation height */
    line-height: 30px; /* Line height: text height */
    font-size: 10px; /* Text size */
    text-align: left; /* Text alignment */
    color: #E3D9C7; /* Text color (RGB) */
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

section{
    background: #ffffff; /* Background color */
    min-height: 500px; /* Minimum height of the area */
    line-height: 30px; /* Line height: text height */
    font-size: 14px; /* Text size */
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

footer{
    background: #988167; /* Background color */
    height: 40px; /* Height of the area */
    line-height: 40px; /* Line height: text height */
    color: #E3D9C7; /* Text color (RGB) */
    font-size: 16px; /* Text size */
    text-align: center; /* Text alignment */
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

nav a{
    color: #E3D9C7;
    text-decoration: none;
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

table{
    border-collapse: collapse;
    text-align: center;
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

tr{
    background-color: #E3D9C7;
    border: 1px #722F37;
}

/* tr:nth-child(even){
    background-color: #988167;
    border: 1px #722F37;
    border-collapse: collapse;
}
 */
td{
    color: #722F37;
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #4A0404;
    text-align: center;
}

th{
    color: #722F37;
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #4A0404;
    text-align: left;
}

.text1{
    color: teal;
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

.button {
    background-color: #988167;
    border-color: #988167;
    color: #ffffff;
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

h2{
	color: #988167;
	-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #4A0404;
}

nav a, a{
    color: #4A0404;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #988167;
    text-decoration: none;
    font-family: 'Jua', Sans-serif; /* Use custom font */
}

p { margin: 0px 0px 0px 0px; line-height: 120%; }

.container{
	 top: 50%;
	/*left: 50%;
	transform: translate(-50%, -50%); */
}

.imgLogin{
	display:block;
	margin: 0 auto;
}

/* 항상 화살표 보이게하기 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;
    opacity: 1;
}
